<div class="container mt-5" >
  <div class="mt-5" style="text-align:center" *ngIf="!registerMode">
    <h1>Find your match</h1>
    <p class="lead">Come on in to view your matches... all you need to do is sign up!</p>
    <div class="text-center">
      <button (click)="registerToggle()" class="btn btn-primary mr-2">Register</button>
      <button class="btn btn-danger mr-2">Learn More</button>
    </div>
  </div>

  <div class="container" *ngIf="registerMode">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register></app-register>
      </div>
    </div>
  </div>
</div>
