<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Bumblz</a>
    <ul class="navbar-nav mr-auto" >
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
      </ng-container>

    </ul>

    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
      <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.userName}}">
      <a class="dropdown-toggle ml-2 text-light" dropdownToggle>
        Welcome {{user.knownAs | titlecase}}
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
        <div class="dropdown-divider">

        </div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autoComplete="off">
      <input class="form-control mr-sm-2" type="text" placeholder="Username"
             name="username" [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" placeholder="Password"
             name="password" [(ngModel)]="model.password">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>
    </form>

  </div>

</nav>
